<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.waow.hmm.mp6.instant">

    <application>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Questions4Activity" />
        <activity android:name=".Questions2Activity" />
        <activity android:name=".Questions3Activity" />
        <activity android:name=".Questions5Activity" />
        <activity android:name=".optionsActivity" />
        <activity android:name=".ResultActivity"></activity>
    </application>

</manifest>